@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family:'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
}

.navbar a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a.active{
    background: linear-gradient(45deg, rgb(51, 90, 164),
    #3cf);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navbar a:hover{
    background: linear-gradient(45deg, rgb(17, 210, 236),
    rgb(62, 228, 131));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 70px 10% 0;
}

.home-content{
    max-width: 500px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3{
    font-size: 32px;
    font-weight: 700;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 48px;
    border-radius: 40px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, rgb(51, 90, 164),
    #3cf, rgb(51, 90, 164));
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    filter: blur(10px);
    transition: .5s ease;
}

.btn:hover::before{
    background-position: 100% 0;
} 

.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, rgb(51, 90, 164),
    #3cf, rgb(51, 90, 164));
    background-position: 0 0;
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    transition: .5s ease;
}

.btn:hover::after{
    background-position: 100% 0;

}